.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.formGroup label {
  text-align: center;
  font-weight: bold;
}

.formGroup input {
  margin-top: 5px;
}

.form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
